.data__form {
  display: flex;
  flex-direction: column;
}

.modal {
  position: fixed;
  bottom: 0;
  opacity: 1;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--clr-bg-white);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 62.5rem;
  margin: 0 auto;
}

.modal-body__title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}

.modal-body__title span {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 2rem;
}

.modal-body__description {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

/* .modal-body__description--hidden {
  display: none;
} */

.modal-body__description h2 {
  padding: 1rem 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.modal-body__description ul {
  list-style: none;
  margin-bottom: 1rem;
}

.modal-body__description ul li {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}

.modal-body__description ul li svg {
  width: 1rem;
  height: 1rem;
}

.modal-body__description ul li p {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
}

.modal-change {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.modal-change span {
  text-decoration: underline;
  color: var(--clr-text-black);
  font-size: 0.8rem;
  font-weight: 400;
  padding: 1rem;
}

.desktop-container {
  display: none;
}

@media (min-width:576px) {
  .data {
    display: flex;
    justify-content: center;
  }
      
  .mobile-container {
    display: none;
  }

  .desktop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
  }
}

@media (min-width:768px) {
  .desktop-container {
    margin-right: 4rem;
  }
}

@media (min-width:1200px) {
  .desktop-container {
    margin-right: 8rem;
  }
}