.desktop-container {
  display: none;
}

@media (min-width:576px) {
  .subscription {
    display: flex;
    justify-content: center;
  }

  .desktop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    margin-top: 2.5rem;
    margin-right: 2rem;
  }

  .desktop-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .desktop-container h2 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }

  .desktop-container p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 2rem;
  }

  .desktop-container img {
    width: 100%;
  }
}

@media (min-width:768px) {
  .desktop-container {
    margin-right: 4rem;
  }
}

@media (min-width:1200px) {
  .desktop-container {
    margin-right: 8rem;
  }
}
