.subscription__toggle {
  display: flex;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.subscription__toggle > span {
  padding: 0 1rem;
}

.toggle__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle__switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--clr-accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-accent);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.card {
  width: 20rem;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin: 2.5rem auto;
  background-color: var(--clr-bg-white);
  display: flex;
  flex-direction: column;
}

.card-title {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 2px solid var(--clr-bg-grey);
}

.card-title h1 {
  align-self: center;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.card-title__currency {
  font-size: 2.5rem;
}

.card-title__price {
  font-size: 4rem;
}

.card-title__period {
  font-size: 1.5rem;
}

.card-title h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.card-info {
  padding: 1rem;
  list-style: none;
}

.card-info ul {
  list-style: none;
}

.card-info ul li {
  display: flex;
  margin: 1rem 0;
}

.card-button {
  padding: 1rem 0;
  background-color: var(--clr-bg-black);
  color: var(--clr-bg-white);
  font-weight: 500;
  font-size: 1rem;
  border: 0px;
}

.card-button__cta {
  background-color: var(--clr-accent);
}