@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --clr-bg-white: #ffffff;
  --clr-bg-grey: #e8eae3;
  --clr-bg-black: #373833;
  --clr-text-white: #ffffff;
  --clr-text-grey: #d6d6d6;
  --clr-text-black: #000000;
  --clr-accent: #fa2742;
}

body {
  background-color: var(--clr-bg-grey);
  color: var(--clr-text-black);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
